<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ajworkorders.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ajworkorders.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ajworkorders</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ajworkorders</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WorkOrdersAppEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;Application Name=EntityFramework" Name="Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WorkOrderWebApp.WorkOrdersAppEntities, WorkOrderWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;Application Name=EntityFramework" Name="Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WorkOrderWebApp-20150204105741.mdf;Initial Catalog=aspnet-WorkOrderWebApp-20150204105741;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WorkOrderWebApp-20150204105741.mdf;Initial Catalog=aspnet-WorkOrderWebApp-20150204105741;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorkOrdersAppEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataConnection.csdl|res://*/DataConnection.ssdl|res://*/DataConnection.msl;provider=System.Data.SqlClient;provider connection string="Data Source=kqhe0vv11x.database.windows.net;Initial Catalog=AJWorkOrders;User ID=woUser;Password=AJCeliano1;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>